.DS_Store
.idea

.project
application/cache/*
!application/cache/index.html

application/config/*
!application/config/*.php
!application/config/*.html
!application/config/*_back

application/logs/*
!application/logs/index.html

tests/*

user_guide/*
composer.json
contributing.md
license.txt
readme.rst
